@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Comforter&family=Gochi+Hand&family=Merriweather:wght@300&family=Share+Tech+Mono&family=Source+Serif+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Comforter&family=Gochi+Hand&family=Merriweather:wght@300&family=Share+Tech+Mono&family=Source+Serif+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Comforter&family=Gochi+Hand&family=Merriweather:wght@300&family=Share+Tech+Mono&family=Source+Serif+Pro:wght@200&display=swap');

header{
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(Volleybal.jpg);
	background-size: cover;
	background-position: center;
	  }
	  header h1{
	  	background-color: rgba(255,255,255,0.8);
	  	padding: 40px;
	  	border-radius: 20px;
	  	font-family: 'Caveat';
	  }

body{
	margin: 0;
}
main{
	padding: 100px;
	background: linear-gradient(180deg, rgba(63,224,220,1) 0%, rgba(224,155,63,1) 25%, rgba(224,65,63,1) 39%, rgba(116,124,181,1) 56%, rgba(69,252,112,1) 100%);
}
main p{
	column-count: 2;
	font-family: 'Caveat'
}
#sport{
	height: 200px,
	display:flex;
	justify-content: space-between;
	align-items: stretch;
	background-image: url(Volleybal2.jpg);
	background-size:cover;
    background-position: center;
    border:20px double red;
}
footer{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 300px;
	background-image: url(Volleybal1.jpg);
	background-size: cover;
	background-position: center;

}
footer p{
	padding: 20px;
	background-color: rgba(255,255,255,0.6);
	border-radius: 20px;
	font-family:"Oswald";
}